= content_for :title, "#{Rails.env.development? ? :"Dev Timur" : :Timur } - Search"

#root
%script{ type: "text/javascript" }
  :plain
    $(function() {
      ReactDOM.render(
        React.createElement(Timur, {
          #{current_user ? "user: '#{current_user.name}', " : '' }
          mode: 'search',
          can_edit: #{ current_user && current_user.can_edit? ? :true : :false },
          environment: '#{Rails.env.development? ? 'development' : 'production'}',
        }),
        $('#root')[0]
      );
    })
