= content_for :title, "#{Rails.env.development? ? :"Dev Timur" : :Timur } - Plots"

#root
%script{ type: "text/javascript" }
  :plain
    $(function() {
      ReactDOM.render(
        React.createElement(Timur, {
          #{current_user ? "user: '#{current_user.email}', " : '' }
          mode: 'plots',
          project_name: '#{@project_name}',
          environment: '#{Rails.env.development? ? 'development' : 'production'}',
          manifestsUI: {
            selected: '#{@manifest_id}' ? parseInt('#{@manifest_id}') : null
          },
          plots: {
            selected: '#{@id}' ? parseInt('#{@id}') : null,
            isEditing: '#{@is_editing}' === 'true'
          }
        }),
        $('#root')[0]
      );
    })
