= content_for :title, "#{Rails.env.development? ? :"Dev Timur" : :Timur } - Activity"

#root
%script{ type: "text/javascript" }
  :plain
    var PROJECT_NAME = '#{@project_name}';

    $(function() {
      ReactDOM.render(
        React.createElement(Timur, {
          user: "#{current_user ? current_user.name : 'null'}",
          mode: 'activity',
          activities: #{@activities.to_json},
          can_edit: #{ current_user && current_user.can_edit? ? :true : :false },
          environment: '#{Rails.env.development? ? 'development' : 'production'}',
          is_admin: #{ current_user && current_user.is_admin? ? :true : :false }
        }),
        $('#root')[0]
      );
    })
