= content_for :title, "#{Rails.env.development? ? :"Dev Timur" : :Timur } - Browse - #{@record_name}"

#root
%script{ type: "text/javascript" }
  :plain
    var PROJECT_NAME = '#{@project_name}';

    $(function() {
      ReactDOM.render(
        React.createElement(Timur, {
          user: "#{current_user ? current_user.name : 'null'}",
          mode: 'browse',
          test: 'this',
          environment: '#{Rails.env.development? ? 'development' : 'production'}',
          model_name: '#{@model_name.underscore}',
          record_name: '#{@record_name}',
          can_edit: #{ current_user && current_user.can_edit?(@project_name) ? :true : :false },
          is_admin: #{ current_user && current_user.is_admin?(@project_name) ? :true : :false }
        }),
        $('#root')[0]
      );
    })
