= content_for :title, "#{Rails.env.development? ? :"Dev Timur" : :Timur } - Browse - #{@record_name}"

#root
%script{ type: "text/javascript" }
  :plain
    $(function() {
      ReactDOM.render(
        React.createElement(Timur, {
          #{current_user ? "user: '#{current_user.name}', " : '' }
          mode: 'browse',
          environment: '#{Rails.env.development? ? 'development' : 'production'}',
          model_name: '#{@model_name.camel_case}',
          record_name: '#{@record_name}'
        }),
        $('#root')[0]
      );
    })
