= content_for :title, "Timur - Create - #{@name}"

#model
  #model_header
    = @model.name
    #approve.inline{ onclick: "javascript: submit_edit()" }
      &#x2713;
  #names
    - @model.display_attributes.each do |name,att|
      .attribute{ title: att.desc }
        = att.display_name
  %form#values{ action: create_model_path, method: :post, enctype: "multipart/form-data" }
    = hidden_field_tag :authenticity_token, form_authenticity_token
    %input{ type: :hidden, name: :model, value: @model.name }
    - @model.display_attributes.each do |name,att|
      .edit_value
        - if params[att.name]
          #{ params[att.name] }
          %input{ type: :hidden, name: "key[#{att.name}]", value: params[att.name] }
        - elsif att.is_a? Magma::DocumentAttribute
          %input{ type: :file, name: "values[#{att.name}]" }
        - elsif att.is_a?(Magma::ForeignKeyAttribute) || att.is_a?(Magma::ChildAttribute)
          [ link ]
        - elsif att.is_a?(Magma::CollectionAttribute)
          &nbsp;
        - else
          %input{ type: :text, name: "values[#{att.name}]" }
