!!!
%html
  %head
    %title= yield :title
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tag
  %body
    = javascript_include_tag '/js/timur.bundle'
    = yield
